<div id="poll" class="section">
    <h1>Poll: {{name}}</h1>
    <h2>By {{by}}</h2>
    <form id="poll-form">        
        <select id="poll-options" name="poll-options">
            {{#each pollOptions}}
            <option id="option_{{this.id}}" class="poll-option" value={{this.id}}>{{this.option}}</option> 
            {{/each}}
            <option value="-1">Add new option</option>            
        </select>
        <button id="poll-vote-btn">Vote</button>         
    </form>
    <label for="new-option">
        New Option:
        <input id="new-option" type="text">
    </label>    
    {{#if owned }}
    <button id="share-twitter-btn">Share on Twiter</button>    
    {{/if}}
    <div id="poll-results">
        <h3>Results</h3>
        <ul id="poll-results-list">
            {{#each pollOptions}}
            <li class="option"><span class="option-name">{{this.option}}</span> : <span class="option-count">{{this.count}}</span></li>
            {{/each}}
        </ul>
    </div>
    <div id="chart-container">
        <canvas id="myChart" width="100" height="100"></canvas>
    </div>
    {{#if owned }}
    <button id="delete-poll-btn">Delete This Poll</button>
    {{/if}}   
</div>
 <div id="poll-id">{{id}}</div>
 <div id="poll-current-voter">{{voter}}</div>
 
 <script type="text/javascript" src="/dist/javascripts/poll-chart-min.js"></script>
 <script type="text/javascript" src="/dist/javascripts/poll-ui-min.js"></script>     


<!-- <select id="poll-select" form="poll-form">
            {{#each pollOptions}}
            <option value={{this.option}}>{{this.option}}</option>        
            {{/each}}
        </select>  -->
