<% include ../partials/header %> 

<div class="Banner u-margin-bottom-lg">
    <div class="Banner__title-box">
        <div class="HeadingPrimary">
            <h1>Express Your Opinion!</h1>
        </div>
        <div class="HeadingSecondary">
            <h2>Vote on your favorite topics</h2>
        </div>
    </div>
</div>   
<div id="polls-page" class="">

    

    <div class="row-g">
        <div class="ButtonGroup u-margin-bottom-sm">
            <% if(currentUser) { %>
            <div class="ButtonSubGroup">
                <% if(!filter) { %>
                <a href="/polls?filter=user" class="Button Button--small Button--regular">User polls</a>
                <% } else if(filter === "user") { %>
                <a href="/polls" class="Button Button--small Button--regular">All polls</a>            
                <% } %>
            </div>
            <div class="ButtonSubGroup u-margin-left">
            <% } else { %>
            <div class="ButtonSubGroup">                
            <% } %>                                       
                <a href="/polls?sort=title" class="Button Button--small Button--regular">Title &#9650;</a>
                <a href="/polls?sort=author" class="Button Button--small Button--regular">Author &#9660;</a>
                <a href="/polls?sort=votes" class="Button Button--small Button--regular">Votes &#9660;</a>                
            </div>                 
            <div class="ButtonSubGroup u-pull-right">
                <a href="/polls/new" class="Button Button--small Button--regular">+ New</a>
            </div>
            
        </div>
        <div class="PollListing">
            <ul class="">            
                <% polls.forEach(function(poll){ %>            
                    <li id="<%= poll._id %>" class="PollListing__item"> 
                        <a href="/polls/<%= poll._id %>" class="">
                            <span class="PollListing__item-name TextLabel--lg"><%=poll.name%></span>
                            <span class="PollListing__item-author TextLabel--lg">by <%=poll.author.name%></span>
                            <span class="PollListing__item-votes TextLabel--lg"><%=poll.votes%> votes</span>
                        </a>
                    </li>                    
                <% }); %>
            </ul>
        </div>
        
    </div>
</div>



<% include ../partials/footer %> 