<% include ../partials/header %> 

<div class="heading-secondary">
    <h2><%= poll.name %></h2>
</div>
<div class="heading-tertiary">
    <h3>by <%= poll.author.name %></h3>
</div>

<div class="row-g">
    <div class="col-1-of-2">
        
                

        <div class="poll">
            <form class="delete-form" action="/polls/<%=poll._id%>/vote/?_method=PUT" method="POST">
                <ul>
                        <% poll.pollOptions.forEach(function(option){ %> 
                            <li class="poll__option">
                                <input class="poll__option-checkbox"type="radio" id="pollr-<%=option._id%>" name="option" value="<%=option._id%>" style="display: none">
                                <label for="pollr-<%=option._id%>">
                                    <span class="poll__option-name"><%=option.option%></span>
                                    <span class="poll__option-count"><%=option.count%></span>
                                </label>
                            </li>
                        <% }); %>               
                </ul>                            
                <button class="btn btn-danger">Vote!</button>            
            </form>
        </div>
        


        <!-- this button will open a delete modal confirmation and the modal confirm button will actually fire the delete -->
        <form class="delete-form" action="/polls/<%=poll._id%>/?_method=DELETE" method="POST">            
            <button class="btn btn-danger">Delete This Poll!</button>            
        </form>
        

        <!-- <p>My current user is <%= currentUser %></p> -->

    </div>
    <div class="col-1-of-2">        
        <div class="chart">
            <div class="chart__container" >
                <canvas id="myChart" width="300" height="300"></canvas>                
            </div>
        </div>
                        
    </div>
</div>

 <!-- <div id="poll-info-container" class="hidden">
    <div id="poll-id"><%= poll._id %></div>
    <div id="poll-current-voter"><%= currentUser %></div>
 </div>    -->
 
 <script type="text/javascript" src="/src/javascripts/poll-chart.js"></script>
 <!-- <script type="text/javascript" src="/src/javascripts/poll-ui.js"></script>      -->

        
<% include ../partials/footer %>