<% include ../partials/header %> 
<div class="Banner u-margin-bottom-lg">
    <div class="Banner__title-box">
        <div class="HeadingPrimary">
            <h1><%= poll.name %></h1>
        </div>
        <div class="HeadingSecondary">
            <h2>by <%= poll.author.name %></h2>
        </div>
    </div>
</div>        

<div class="row-g">
    <div class="HeadingTertiary u-margin-bottom-md">
        <h3><%= poll.question %> </h3>
    </div>
    <div class="col-1-of-2">        
        <div class="Poll u-margin-bottom-sm">            
            <form action="/polls/<%=poll._id%>/vote/?_method=PUT" method="POST">
                <ul class="OptionList u-margin-bottom-sm">
                    <% poll.pollOptions.forEach(function(option, index){ %> 
                        <li class="OptionList__option">
                            <% if(index === 0){ %>
                                <input class="OptionList__option-checkbox" type="radio" id="pollr-<%= index %>" name="option" value="<%=option._id%>" checked>
                            <% } else { %>
                                <input class="OptionList__option-checkbox" type="radio" id="pollr-<%= index %>" name="option" value="<%=option._id%>">
                            <% } %>    
                            <label for="pollr-<%= index %>">
                                <span class="OptionList__option-select">&ensp;</span>
                                <span class="OptionList__option-name Chart__option-name"><%=option.option%></span>
                                <span class="OptionList__option-count Chart__option-count"><%=option.count%></span>
                                <% if(poll.votes === 0) { %>
                                <span class="OptionList__option-percent">0%</span>
                                <% } else { %> 
                                <span class="OptionList__option-percent"><%= ((option.count / poll.votes) * 100).toFixed(0) %>%</span>
                                <% } %>
                            </label>
                        </li>
                    <% }); %>
                        <!-- new option -->
                        <li class="OptionList__option">
                            <input class="OptionList__option-checkbox OptionList__option-checkbox--new" type="radio" id="pollr-new" name="option" value="new">
                            <label for="pollr-new">
                                <span class="OptionList__option-select">&ensp;</span>
                                <span class="OptionList__option-new">Other</span> 
                                <input 
                                    type="text" 
                                    id="poll-input-new" 
                                    class="OptionList__option-input" 
                                    name="newOption" 
                                    placeholder="Other"
                                    autocomplete="off"                                    
                                >                                   
                            </label>
                        </li>                                           
                </ul>                
                <button id="poll-vote-btn" class="Button Button--max Button--primary">Vote!</button>                            
            </form>                                    
        </div> <!-- end .Poll div -->        
        <div class="ButtonGroup">
            <div class="ButtonSubGroup">
                <a href="/polls" class="Button Button--small Button--regular"> &larr; Polls</a>
            </div>
            <div class="ButtonSubGroup u-pull-right">
                <% if(currentUser){ %>
                <a href="/polls/new" class="Button Button--small Button--regular"> + New</a>
                <% } %>    
                <% if(currentUser && poll.author.id.equals(currentUser._id)){ %>
                <a href="#" class="Button Button--small Button--primary"><i class="fas fa-edit"></i> Edit</a>                
                <!-- this button will open a delete modal confirmation and the modal confirm button will actually fire the delete --> 
                <form class="u-inline-block" action="/polls/<%=poll._id%>/?_method=DELETE" method="POST">            
                    <button class="Button Button--small Button--danger"><i class="fas fa-eraser"></i> Delete</button>            
                </form>                                                      
                <% } %>    
              
            </div>
            
        </div>                        
    </div> <!-- end .col-1-of2 div -->
    <div class="col-1-of-2">        
        <div class="chart">
            <div class="chart__container" >
                <canvas id="myChart" width="300" height="300"></canvas>                
            </div>
        </div>                        
    </div>
</div>

 <script type="text/javascript" src="/src/javascripts/poll-chart.js"></script>
 <script>
    
    var voteBtn = document.getElementById("poll-vote-btn");
    var pollNewInput = document.getElementById("poll-input-new");

    voteBtn.addEventListener('click', function(e){
        var pollNewRadio = document.getElementById("pollr-new");                
        if(pollNewRadio.checked && !pollNewInput.value){
            e.preventDefault();
        }        
    });

    //set focus on new option input when selected
    document.getElementById("pollr-new").addEventListener('change', function(e){        
        pollNewInput.focus();
    });

    var myChart = chartjs.draw();

 </script>
 <!-- <script type="text/javascript" src="/src/javascripts/poll-ui.js"></script>      -->

        
<% include ../partials/footer %>